---
import type { Props } from '@astrojs/starlight/props';
import MobileMenuFooter from './MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';

const { sidebar } = Astro.props;

---

<!-- SSTL, Desktop View, Dock Left -->
<!-- SSTL, Phone View, Dock Top (Menu Icon Click) -->
<SidebarPersister {...Astro.props}>
	<div class="h-8 flex mb-2">
		<div class="title-wrapper flex-grow">
			<SiteTitle {...Astro.props} />
		</div>
		<span class="md:sl-hidden self-center mr-10">
			<MobileMenuFooter {...Astro.props} />
		</span>
	</div>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>


<!-- <style>
	@media (min-width: 50rem) {
		#qqq {
			display: none;
		}
	}
</style> -->