@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

:root {
  --sl-content-width: 64rem;
  --sl-sidebar-width: 12.8rem;
  --sl-nav-height: 2.5rem;
  --sl-text-lg: 1rem;
  --sl-text-xl: 1.125rem;
  --sl-text-2xl: 1.25rem;
  --sl-text-3xl: 1.5rem;
  --sl-text-4xl: 1.75rem;
  --sl-text-5xl: 2rem;
  --sl-color-accent-low: theme('colors.blue.950');
  --sl-color-accent: theme('colors.blue.500');
  --sl-color-accent-high: theme('colors.blue.500');
}

:root[data-theme='light'] {
  --sl-color-accent-low: theme('colors.sky.950');
  --sl-color-accent: theme('colors.sky.600');
  --sl-color-accent-high: theme('colors.sky.200');
}

/* <div class="right-sidebar-panel sl-hidden lg:sl-block">
<div class="sl-container"> */
div.right-sidebar-panel.sl-hidden>div.sl-container {
  width: unset;
  max-width: unset;
}

div.content-panel:has(.sl-container > #_top) {
  padding-block: 0.5rem;
}

.sl-markdown-content
	:not(h1, h2, h3, h4, h5, h6)
	+ :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
	margin-top: 0.5em;
}

h1#_top {
  margin-top: 0.5rem;
  text-align: center;
}

site-search > button:first-of-type {
  height: 2rem;
}

.jt-intro * {
  margin: 0 !important;
}

.prose h2, .prose h3 {
  position: relative;
}
.prose h2::before {
  position: absolute;
  top: .375rem;
  left: calc(var(--sl-text-3xl) * -1);
  font-weight: 600;
  color: var(--sl-color-text-accent);
  content: "H2";
  font-size: var(--sl-text-base);
  line-height: var(--sl-text-h3);
}
.prose h3::before {
  position: absolute;
  top: .375rem;
  left: calc(var(--sl-text-3xl) * -1);
  font-weight: 600;
  color: var(--sl-color-text-accent);
  content: "H3";
  font-size: var(--sl-text-sm);
  line-height: var(--sl-text-h4);
}