---
import Icon from "@/components/Icon.astro";
import BaseHtml from "../layouts/BaseHtml.astro";
// pubDate={new Date("2024-10-23")}
// heroImage="/blog-placeholder-about.jpg"
---

<BaseHtml
	title="About Me"
	description="A "
>
	<a href="https://github.com/johntao" target="_blank">
		<span class="sr-only">Go to John Tao's GitHub repo</span>
		<Icon name="GitHub" class="size-8" />
	</a>
</BaseHtml>
