---
import FormattedDate from "@/components/FormattedDate.astro";
import BaseHtml from "@/layouts/BaseHtml.astro";
import { sortByPubDate } from "@/utils/data.util";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(sortByPubDate);
---

<BaseHtml>
	<ul>
		{
			posts.map((post) => {
				// const { remarkPluginFrontmatter } = await post.render();
				const { data, slug } = post;
				return (
					<li>
						<FormattedDate className="inline-block w-32" date={data.pubDate} />
						<a href={`/blog/${slug}`}>{data.title}</a>
					</li>
				);
			})
		}
	</ul>
</BaseHtml>
