---
import Logo from "@/components/Logo.astro";
import '@/styles/tailwind.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
  <Logo color="#00A0E9" text="from no where" />
  <Logo color="#4CABEB" text="softstar v1" />
  <Logo color="#46a0e4" text="softstar v2" />
  <Logo color="#469fe3" text="softstar v3" />
  <Logo color="#4AA3E3" text="Muki Blue" />
  <Logo color="#3770e3" text="GitHub tag" />
  <Logo color="#458deb" text="cursor file explorer blue" />
  <Logo color="#4070a6" text="from LogSeq tag" />
  <Logo color="#337bf6" text="from nowhere, probably Monday blue" />
  <Logo color="#337bf6" text="from MacOS capslock" />
  <Logo color="#a6cedc" text="musou Jin" />
  <Logo color="#0ea5e9" text="tw sky" />
  <Logo color="#3b82f6" text="tw blue" />
  <Logo color="#0078d4" text="vscode ui hint" />
  <Logo color="#569cd6" text="vscode text h" />
  <Logo color="#9cdcfe" text="vscode text l" />
</body>
</html>