---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
	href={href}
	class:list={[
		"inline-block mx-1",
		Astro.props.class,
		{
			"font-extrabold": isActive,
			'no-underline': isActive,
			// 'text-orange-600': isActive,
			// 'dark:text-blue-600': isActive,
			'text-blue-600': isActive,
		},
	]}
	{...props}
>
	<slot />
</a>
