---
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
import Logo from "./logos/None.astro";
---

<header class="bg-gray-200 px-4 py-1.5">
	<nav class="flex items-center justify-between">
		<Logo />
		<div>
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/tag">Tag</HeaderLink>
		</div>
		<div>
			<a href="https://github.com/johntao" target="_blank">
				<Icon class="size-6" name="Search" />
			</a>
		</div>
	</nav>
</header>