---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./logos/None.astro";
---

<header class="bg-gray-200 px-4 py-1.5">
	<nav class="flex items-center justify-between">
		<Logo />
		<div>
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/tag">Tag</HeaderLink>
		</div>
		<div>
			<a href="https://github.com/johntao" target="_blank">
				<svg class="size-6" viewBox="0 0 16 16" aria-hidden="true">
					<text dominant-baseline="hanging">🔎</text>
				</svg>
			</a>
		</div>
	</nav>
</header>