---
// import PostLink from './PostLinkWithImg.astro';
import { sortByPubDate } from '@/utils/data.util';
import { getCollection } from 'astro:content';

// interface Props {
// 	posts: MarkdownInstance<any>[];
// }
const posts = await getCollection('blog');
posts.sort(sortByPubDate);
console.log(`================================= ${posts.length} =================================`);
const latestPosts = posts.slice(0, 3);

---

<div>
	<div class="flex justify-between pb-4">
		<p class="text-xl font-bold">Latest Posts</p>
		<a href="/posts" class="underline hover:text-orange-600">all posts →</a>
	</div>
	<div class="flex flex-col pb-4 md:flex-row">
		{
			latestPosts.map(() => (
				<div class="mb-4 basis-1 last:mr-0 md:mr-4 md:basis-1/3">
					{/* <PostLink post={post} /> */}
				</div>
			))
		}
	</div>
</div>
