---
interface Props {
  text?: string | number;
}
const { text } = Astro.props;
const className = "flex-1 border-t border-dashed jt1-border-color";
---

<div class="flex items-center sm:hidden">
  <div class={className}></div>
  <span class="px-3">{text}</span>
  <div class={className}></div>
</div>


