---
interface Props {
	tags: string[];
	withHref?: boolean;
}

const { tags, withHref } = Astro.props;
const className = "mx-1.5 px-2.5 py-1 rounded-md bg-stone-300 hover:bg-stone-400";
---

{
	tags.map((tag: string) =>
		withHref
		? <a class:list={[className, 'no-underline']} href={`/tag/${tag}`}>#{tag}</a>
		: <span class={className}>#{tag}</span>,
	)
}
