---
// import { AppConfig } from '@/utils/AppConfig';
import Tags from '@/components/Tags.astro';
import BaseHtml from '@/layouts/BaseHtml.astro';

// const { title } = AppConfig;
// const { description } = AppConfig;

const allPosts = await Astro.glob('../../content/blog/*.md');
const allTags: Set<string> = new Set(allPosts.filter(q => q.frontmatter.tags).map((post) => post.frontmatter.tags).flat());
---

<BaseHtml>
  <div class="mx-auto w-full max-w-screen-md">
    <Tags tags={['no-tag', ...allTags]} withHref={true} />
  </div>
</BaseHtml>
