---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

interface BaseHtmlProps {
	title?: string;
	description?: string;
	// mainStyle?: astroHTML.JSX.CSSProperties;
}
const {
	title,
	description,
	// mainStyle,
} = Astro.props as BaseHtmlProps;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title ?? SITE_TITLE} description={description ?? SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen flex flex-col font-mono bg-stone-100 text-gray-950">
		<Header />
		<main class="flex-grow max-w-3xl mx-auto py-7">
			<slot />
		</main>
		<Footer />
	</body>
</html>
