---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import '@/styles/global.css'

interface BaseHtmlProps {
	title?: string;
	description?: string;
	className?: astroHTML.JSX.CSSProperties;
}
const {
	title,
	description,
	className,
} = Astro.props as BaseHtmlProps;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title ?? SITE_TITLE}
			description={description ?? SITE_DESCRIPTION}
		/>
	</head>
	<body
		class="min-h-screen flex flex-col font-mono content-area-color"
	>
		<Header />
		<main class:list={["flex-grow max-w-3xl py-7 px-3 sm:px-0", className]}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
